<style>
  .navbar {
    background-color: tomato;
    display: flex;
    width: 100%;
  }

  div.icon-info {
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
    color: darkcyan;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  div.icon-info > a {
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
  }

  .menu-icon {
    height: 30px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: black 1px 1px 2px;

  }

  .menu-icon:hover {
    animation: icon-grow 200ms ease-in;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }

  @keyframes icon-grow {
    100% {
      transform: scale(0.99);
      box-shadow: inset black 1px 1px 2px;
    }

  }

  div.menu-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
  }

  div.content {
    height: 100%;
  }

  :host {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  div.title {
    color: maroon;
    font-family: Cambria;
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
    padding: 10px;
    margin-left: 20px;
    text-shadow: antiquewhite 1px 1px;
  }
</style>
<div class="navbar">
  <div class="title">
    Apache Access Config
  </div>
  <div class="menu-container">
    <a routerLink="/list">
      <img class="menu-icon" src="../assets/menu_icon_list.svg" alt="List users" title="List users">
    </a>
    <a routerLink="/add">
      <img class="menu-icon" src="../assets/menu_icon_plus.svg" alt="Add user" title="Add user">
    </a>
  </div>
</div>

<div class="content">
  <router-outlet>

  </router-outlet>
</div>


<footer>
  <div class="icon-info">
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a
    href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a
    href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</footer>
